/* src/styles/globals.css */

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans', sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
  }
  
  * {
    box-sizing: inherit;
  }
  
  .MuiCard-root {
    display: flex;
    flex-direction: column;
    height: 100%;
  }
  
  .MuiCardContent-root {
    flex-grow: 1;
  }
  
  .MuiCardContent-root > p {
    margin-bottom: 10px;
  }
  